@tailwind base; /* 引入基础样式，包括 CSS 重置和基础样式 */
@tailwind components; /* 引入组件样式，包含预定义的可复用组件 */
@tailwind utilities; /* 引入实用工具类，用于控制布局、排版、颜色等各种样式 */

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.title {
  margin-top: 4px;
}
